@import url('https://fonts.cdnfonts.com/css/gourdie-cursive');

body {
  margin-right: 15%;
  margin-left: 15%;
  text-align: justify;
  margin: 2em;
  padding: 4em;
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fff8f0;
  filter: url(#wavy2);
}

a {
  font-family: papyrus !important;
}

h1,
h2,
h3,
h4 {
  font-family: papyrus !important;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 175%;
  margin-top: 2em;
  margin-bottom: 1em
}

h3 {
  font-size: 150%;
  margin-top: 1em
}

h4 {
  font-size: 120%
}

.no-break {
  page-break-before: avoid
}

div.chapter {
  page-break-before: always;
  margin-top: 4em;
}

p {
  text-indent: 0%;
  margin-top: 0.5em;
  margin-bottom: 0;
  color: rgb(65, 60, 60);
  font-family: 'Gourdie Cursive', sans-serif;
  font-size: x-large;
  font-weight: 500;
}

p.right {
  text-align: right
}

p.scenedesc {
  font-style: italic;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}

p.letter {
  text-indent: 0%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
  margin-bottom: 1em
}

span.charname {
  font-variant: small-caps;
  font-style: normal
}

div.fig {
  display: block;
  margin: 0 auto;
  text-align: center
}

a:link {
  color: rgb(0, 0, 0);
  text-decoration: none
}

a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none
}

a:hover {
  color: rgb(143, 143, 143)
}

img {
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
}

figcaption {
  font-size: 50%;
}